/*The stylesheet should be placed within the header of the html file
<link href="style.css" type="text/css" rel="stylesheet">
<!--Here should be placed the style.css link. It includes the route of the file, the
type(text/css) and the relation (rel="stylesheet")-->*/
header {
    padding: 15px 10px 0 10px;
}
body{
    font-family: arial, sans-serif;
    background: #fff;
    color: black;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 13px;
    color: #373936;
    font-family: Arial, sans-serif;
    padding: 5px;
    /*margin: auto 18px auto auto;*/
}

.main_img{
        display: block;
        margin: 0 auto;
        padding-top: 160px;
        padding-left: 30px;
}

.app_img{
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 4px;
}

/*I don't know why but when I stablish the footer to absolute position it doesn't stick to the bottom*/
footer{
    bottom:0;
    padding-bottom: 0;
    /*absolute is used to choose that a section is set to be fixed at a determined position 
    regarding the edges. For example in this case since it is set to bottom 0, it will stick
    to the bottom as the footer should do.*/
    position: fixed;
    opacity: 0.75;
    /*to indicate that a section has to be full width we have to write it down, otherwise it 
    won't work*/
    width: 100%;
    background-color: #F2F2F2;
    color: #5F6368;
    height: 2.5em;
}

.right{
    float: right;

}

.left{
    float: left;

}

.left_icon{
    float: left;
    height: 30px;
    width: 90px;
    padding: 10px 20px 0px 10px;

}

/* center search bar, "Google Search", and "I'm Feeling Lucky" */
form {
    text-align: center;
}

/* allocates padding for nav elements */




/* search bar formatting and style. I need to check some points here to know what they 
exactly do*/

.search {
    border-radius: 25px;
    margin-top: 5px;
    width: 475px;
    height: 42.5px;
    border: #dfe1e5 1px solid;
    float: left;  
    background-image:url(""), url("https://www.seekclipart.com/clipng/middle/70-709132_search-magnifying-glass-icon-png-grey-clipart.png");
    background-position: 2% 50%, 98% 50%;
    background-repeat: no-repeat;
    background-size: 15px, 25px; 
      
}

.search:hover{
    border-color: rgb(172, 172, 172);
    border-width: 1.5px;
}

/* focus wraps search bar and not a rectangle around it after being clicked */
/*WHATS THIS FOR? NO IDEA*/
.search:focusbar {
    outline: none; 
}

/* spacing of search bar */
/*WHATS THIS FOR?*/
.submit {
    border-radius: 5px;
    margin: 30px 6px 8px 6px;
    background-color: #F3F3F3;
    color: #5F6368;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-size: 14px;
}
 /*When you go to the buttom it highlights it with a black line around*/
.submit:hover {
    border: #5F6368 solid 1px;
}

.what_search:hover {
    color: rgba(0, 174, 255, 0.904);
    text-decoration: none;
}

/* underlines text upon hovering over "a" links index.html */
a:hover {
    text-decoration: underline;
}

.padding {
    padding: 30px 0 10px 130px;
}

hr{
width: 100%;
opacity: 0.15;
height: 1px;
background-color: black;
border: none;
}

.what_search {
    font-size: 15px;
    padding-left: 10px;
}

.result {
    opacity: 0.65;
    padding-left: 130px;
}

.found {
    display: block;
    padding-left: 130px;
    padding-top: 15px;
}

.line1{
color: blue;
font-size: 20px;
font-weight: normal;
cursor: pointer;
}

.line2{
    color: green;
    font-size: 12px;
    padding-left:5.5px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: medium;
}

.description {
    padding-left: 5px;
    opacity: 0.75;
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.57;
}

.r_search{
font-size: 20px;
margin-bottom: 0;
}

.r_box{
    padding-left: 130px;
}

.s_left {
font-size: 18px;
color: blue;
list-style: none;
display: inline-block;
padding-left: 0;
}

.s_right a{
    color: blue;
    padding: 2px;
}

.s_left a{
    color: blue;
    padding-bottom: 2px;
}

.s_right{
color: blue;
font-size: 18px;
list-style: none;
padding-left: 180px;
display: inline-block;
}

.navigation-icon{
    width: 20px;
    height: 20px;
}

.top_result {
    border: 1px;
    padding-left: 100px;
    display: inline-block;
}

#howto-image{
    width: 137px;
    height: 160px;
    position: relative;
    left:502px;
    display: inline-block;
}

#steps-result{
    display: inline-block;
    align-content: left;
}
/* I don't know how to center the placeholder and change its format so it looks more similar to the Google format*/

.top-result{
    width: 640px;
    height: 260px;
    border: 1px solid rgb(225, 225, 225);
    margin: inherit;
    font-family: arial,sans-serif;
    position: relative;
    left: 110px;
    padding-top: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
}

.top-result li{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 22px;
    margin-bottom: 4px;
    position: relative;
    right: 20px;

}
.top-name-result{
    color: #1a0dab;
    font-family: arial,sans-serif;
    font-size: 20px;
    position: relative;
    left: 20px;
}
.top-domain-result{
    color: #006621;
    font-family: arial,sans-serif;
    font-size: 16px;
    position: relative;
    left: 20px;
    bottom: 15px;
}
#title-top-result{
    padding-left: 20px;
    padding-bottom: 20px;
}
#howto-image{
    width: 157px;
    height: 160px;
    position: relative;
    left:483.25px;
    bottom: 277px;
}

.related-questions table{
    border: 1px solid  rgb(225, 225, 225);
    padding: 1px;
    width: 638px;
}
.related-questions{
    position: relative;
    top: 5px;
    left: 115px;
}

.related-questions th{
    border-bottom: 1px solid rgb(225, 225, 225);
    text-align: left;
    font-weight: normal;
    padding-left: 15px;
    font-size: 20px;
    padding-bottom: 5px;
}

td{
    border-bottom: 1px solid rgb(225, 225, 225);
    height: 45px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 10px;
}

#last{
    border-bottom: none;
    height: 45px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 10px;
}

.video-section{
    position: relative;
    left: 115px;
    top: 25px;
}

.video-section{
    font-size: 20px;
}
.video-container{
    width: 207px;
    height: 260px;
    border: 1px solid rgb(225,225,225);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 58px;
}
.video-container p{
    color: #1a0dab;
}
.video-container .video-author{
    color: rgb(155,155,155);
    font-size: 14px;
}
.video-container .youtube{
    color: #006621;
    font-size: 12px;
}

.video-container .video-date{
    color: rgb(155,155,155);
    font-size: 10px;
}
.google-pages{
    position: relative;
    left: 220px;
    top: 65px;
    padding-bottom: 30px;

}
.google-pages img{
    display: block;
}
.google-pages p{
    display: inline-block;
    font-size: 14px;
    color: #4285f4;
    font-weight: 400;
    padding-right: 6px;
    position: relative;
    left: 35px;
    bottom: 7px;
}
#next{
    display: inline-block;
    font-size: 14px;
    color: #4285f4;
    font-weight: 400;
    padding-left: 37px;
    padding-right: 0;
    position: relative;
    left: 35px;
    bottom: 7px;
}
.about{
    color: #70757a;
    font-size: 12px;
    display: inline-block;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    position: relative;
    left: 560px;
    bottom: 15px;
    
}
.about p{
    display: inline-block;
    padding-right: 20px;
    padding-left: 5px;
    margin-bottom: 0px;
}
